/* basic and reset styles */
/* colors used */
/* fonts */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #003150;
}

ul,
ol {
  list-style-type: none;
}

/* styles for header */
header {
  width: 100%;
  text-align: center;
}

/* styles for upper part of the header */
.upper-part-of-header-container {
  width: 100%;
  height: 130px;
  background-color: #d7d3c7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upper-part-of-header i {
  position: relative;
  left: 0;
  transition-property: left;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.upper-part-of-header p {
  font-size: 0.9rem;
}
.upper-part-of-header p a:hover i {
  left: 5px;
}

/* styles for the quick links part container */
.quick-links-part-container {
  display: none;
}

/* styles for the primary nav part */
.primary-nav-container {
  width: 100%;
  height: 100px;
  background-color: white;
}

.primary-nav {
  display: none;
}

.small-screen-nav {
  width: calc(100vw - 24px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  max-width: 25px;
  height: auto;
  fill: #003150;
}

#logo {
  max-width: 150px;
  height: auto;
}

/* header::after styling */
header::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background-color: #ae272d;
}

@media screen and (min-width: 320px) {
  .icon {
    max-width: 35px;
    height: auto;
  }
  #logo {
    max-width: 200px;
    height: auto;
  }
}
@media screen and (min-width: 375px) {
  .upper-part-of-header p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 600px) {
  .primary-nav-container {
    height: 110px;
  }
  .small-screen-nav {
    margin: 0 18px;
    width: calc(100% - 60px);
  }
  .icon {
    max-width: 50px;
    height: auto;
  }
  #logo {
    max-width: 300px;
    height: auto;
  }
}
@media screen and (min-width: 700px) {
  .upper-part-of-header p {
    margin: 0 48px;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 769px) {
  .upper-part-of-header-container {
    height: 70px;
  }
  .upper-part-of-header p {
    font-size: 1rem;
  }
  .quick-links-part-container {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #f9f8f6;
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 6px rgb(210, 207, 207);
  }
  .quick-links-part-container a,
  .quick-links-part-container i::before {
    font-weight: bold;
    color: #003150 !important;
  }
  .quick-links-part {
    display: flex;
    justify-content: center;
  }
  .quick-links-part ul {
    width: 250px;
    display: flex;
    justify-content: space-between;
  }
  .quick-links-part ul li {
    display: inline-block;
    line-height: 40px;
  }
  .quick-links-part ul li a i {
    margin-right: 5px;
  }
}
@media screen and (min-width: 1023px) {
  .quick-links-part {
    display: block;
  }
  .quick-links-part ul {
    float: right;
    margin-right: 78px;
  }
  header::after {
    height: 5px;
  }
  .small-screen-nav {
    display: none;
  }
  .primary-nav-container {
    height: 100px;
  }
  .primary-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 76px;
  }
  .primary-nav a,
  .primary-nav i::before {
    font-weight: bold;
    color: #003150 !important;
  }
  .primary-nav img {
    max-width: 150px;
    height: auto;
  }
  .primary-nav nav > ul {
    width: 680px;
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  .primary-nav nav > ul li {
    height: 100%;
    line-height: 100px;
    font-size: 12px;
    padding: 0 2px;
  }
  .primary-nav li:hover {
    background-color: #f9f8f6;
  }
  .primary-nav .drop-down-menu {
    display: none;
  }
  .primary-nav li:hover {
    background-color: #f9f8f6;
  }
  .primary-nav #drop-down-li {
    position: relative;
  }
  .primary-nav .drop-down-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 90%;
    background-color: white;
    box-shadow: 0px 1px 2px rgb(210, 207, 207);
    z-index: 1;
  }
  .primary-nav .drop-down-menu ul {
    height: 210px;
  }
  .primary-nav .drop-down-menu ul li {
    width: 200px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    text-transform: capitalize;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
  }
  .primary-nav #drop-down-li:hover .drop-down-menu {
    display: block;
  }
  #search-nav-link i {
    margin-left: 8px;
  }
}
@media screen and (min-width: 1150px) {
  .primary-nav nav > ul {
    width: 800px;
  }
  .primary-nav nav > ul li {
    font-size: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .primary-nav img {
    max-width: 200px;
    height: auto;
  }
  .primary-nav nav > ul {
    width: 1050px;
  }
  .primary-nav nav > ul li {
    font-size: 16px;
    padding: 0 4px;
  }
}
@media screen and (min-width: 1529px) {
  .primary-nav nav > ul {
    width: 1090px;
  }
  .primary-nav nav > ul li {
    font-size: 18px;
  }
}