@import "reset";
@mixin set-w-h($width, $height) {
  width: $width;
  height: $height;
}

@mixin transition-config(
  $transition-property,
  $transition-duration,
  $transition-timing-function
) {
  transition-property: $transition-property;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
}

/* styles for header */
header {
  width: 100%;
  text-align: center;
}

/* styles for upper part of the header */
.upper-part-of-header-container {
  @include set-w-h(100%, 130px);
  background-color: $supplemantary-color;
  //centering the paragraph inside the container
  display: flex;
  align-items: center;
  justify-content: center;
}

.upper-part-of-header {
  i {
    position: relative;
    left: 0;
    @include transition-config(left, 0.5s, ease);
  }
  p {
    font-size: 0.9rem;
    a:hover {
      i {
        left: 5px;
      }
    }
  }
}

/* styles for the quick links part container */
.quick-links-part-container {
  display: none;
}

/* styles for the primary nav part */
.primary-nav-container {
  @include set-w-h(100%, 100px);
  background-color: white;
}
.primary-nav {
  display: none;
}
.small-screen-nav {
  @include set-w-h(calc(100vw - 24px), 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  max-width: 25px;
  height: auto;
  fill: $brand-color;
}
#logo {
  max-width: 150px;
  height: auto;
}

/* header::after styling */
header::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background-color: $line-color;
}

@media screen and (min-width: 320px) {
  .icon {
    max-width: 35px;
    height: auto;
  }
  #logo {
    max-width: 200px;
    height: auto;
  }
}
@media screen and (min-width: 375px) {
  .upper-part-of-header {
    p {
      font-size: 1rem;
    }
  }
}
@media screen and (min-width: 600px) {
  .primary-nav-container {
    height: 110px;
  }
  .small-screen-nav {
    margin: 0 18px; //30px margin -12 padding for the container
    width: calc(100% - 60px);
  }
  .icon {
    max-width: 50px;
    height: auto;
  }
  #logo {
    max-width: 300px;
    height: auto;
  }
}

@media screen and (min-width: 700px) {
  .upper-part-of-header {
    p {
      margin: 0 48px; //60px - 12px padding for container
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 769px) {
  //upper part of the header styles
  .upper-part-of-header-container {
    height: 70px;
  }
  .upper-part-of-header {
    p {
      font-size: 1rem;
    }
  }

  //quick links part
  .quick-links-part-container {
    display: block;
    @include set-w-h(100%, 40px);
    background-color: $secondary-color;
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 6px $shadow-color;
    i::before {
      color: $brand-color;
    }
  }
  .quick-links-part {
    display: flex;
    justify-content: center;
    ul {
      width: 250px;
      display: flex;
      justify-content: space-between;

      li {
        display: inline-block;
        line-height: 40px;
        a {
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1023px) {
  .quick-links-part {
    display: block;
    ul {
      float: right;
      margin-right: 78px; //90px - 12 for container's padding
    }
  }
  header::after {
    height: 5px;
  }

  .small-screen-nav {
    display: none;
  }

  .primary-nav-container {
    height: 100px;
  }
  .primary-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 76px; //90px - 12(for container's padding) - 2pixels of padding for li
    i::before {
      color: $brand-color;
    }

    img {
      max-width: 150px;
      height: auto;
    }
  }
  .primary-nav {
    //only for ul that is inside nav, not the drop-down-menu ul
    nav > ul {
      @include set-w-h(680px, 100%);
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      li {
        height: 100%;
        line-height: 100px;
        font-size: 12px;
        padding: 0 2px;
      }
    }
    //for all li in primary nav
    li:hover {
      background-color: $secondary-color;
    }

    .drop-down-menu {
      display: none;
    }
    li:hover {
      background-color: $secondary-color;
    }
    #drop-down-li {
      position: relative;
    }
    //positining the drop down menu relative to the drop-down-li
    .drop-down-menu {
      display: none;
      position: absolute;
      left: 0;
      top: 90%;
      background-color: white;
      box-shadow: 0px 1px 2px $shadow-color;
      z-index: 1;
      ul {
        height: 210px;
        li {
          width: 200px;
          height: 70px;
          text-align: center;
          line-height: 70px;
          text-transform: capitalize;
          @include transition-config(background-color, 1s, ease);
        }
      }
    }

    #drop-down-li:hover {
      .drop-down-menu {
        display: block;
      }
    }
  }
  #search-nav-link {
    i {
      margin-left: 8px;
    }
  }
}

@media screen and (min-width: 1150px) {
  .primary-nav {
    nav > ul {
      width: 800px;
      li {
        font-size: 14px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .primary-nav {
    img {
      max-width: 200px;
      height: auto;
    }
  }
  .primary-nav {
    nav > ul {
      width: 1050px;
      li {
        font-size: 16px;
        padding: 0 4px;
      }
    }
  }
}

@media screen and (min-width: 1529px) {
  .primary-nav {
    nav > ul {
      width: 1090px;

      li {
        a {
          letter-spacing: 1px;
        }
      }
    }
  }
}
