/* colors used */
$brand-color: #003150;
$supplemantary-color: #d7d3c7;
$secondary-color: #f9f8f6;
$text-color: #1f1f1f;
$line-color: #ae272d;
$shadow-color: rgb(210, 207, 207);

/* fonts */
$default-font: Helvetica, Arial, sans-serif;
